<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>
<div class="container">

    <center>
        <h2>게시글 상세페이지</h2>
        <br>
        <p><span>작성자 : </span><span th:text="${board.user.username}"></span></p>
        <span>제목 : </span><span th:text="${board.title}"></span>
        <br>
        <p>내용</p>
        <p th:text="${board.text}"></p>

        <button th:id="${board.id}+editBoard" class="btn btn-primary" >수정하기</button>
        <form action="#" th:action="@{/api/board/}+${board.id}+@{/delete}" method="post">

            <input type="submit" class="btn btn-primary" value="삭제하기">
            <input type="hidden" name="_method" value="delete"/>
        </form>

        <form action="#" th:action="@{/api/board/}+${board.id}+@{/comment}" onsubmit="return check()" method="post" th:object="${postcomment}">
            <input id="txt" type="text" th:field = "*{text}">
            <input type="submit" class="btn btn-primary" value="댓글작성">
        </form>

        <div th:each="comment : ${comment}" name="fr"  class="table table-striped text-center">
            <p   th:text="${comment.user.username}"></p>
            <p   th:text="${comment.text}"></p>

        </div>

    </center>



</div>

    <script>
        function check(){
            var txt =document.getElementById('txt').value;
            if(txt === ""){
                alert("댓글을 입력해주세요.");
                return false;
            }
            return true;
        }
        $('#[[${board.id}]]editBoard').click(
            function(event) {
                var boardId = "[[${board.id}]]";
                window.location.replace('/api/board/'+ boardId+'/edit');

            })
    </script>
</body>
</html>