<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script type = "text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>
<body>

<div class = "nav" style="background: darkgray" >
            <h4 class="logo" >
                <a href = "/" style="color: #ffffff;margin-left: 15px">Notice-Board</a>
                <a th:if="${user} == 'null'" id="login-text" href="/user/login" style="float: right;color: #ffffff;margin-right: 15px">
                    로그인
                </a>
                <a th:if="${user} != 'null'" id="logout-text" href="/user/logout" style="float: right;color: #ffffff;margin-right: 15px">
                    로그아웃
                </a>
            </h4>

</div>
<br>
<br>
<div class="container">

    <center>
        <button class="btn btn-primary" onclick="location.href='/api/board'">글 작성</button>
    </center>
<br>

<table class="table table-striped text-center">
    <thead class ="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">제목</th>
        <th scope="col">사용자</th>
        <th scope="col">작성일자</th>
    </tr>
    </thead>
    <tbody>
        <div th:each="board : ${board}" class="table table-striped text-center">
            <tr>
                <td></td>
                <th scope="col"><a th:href="@{/api/board/}+${board.id}" th:text="${board.title}"> </a></th>
                <th scope="col" th:text="${board.user.username}"></th>
                <th scope="col" th:text="${#temporals.format(board.modifiedAt, 'yyyy-MM-dd')}"></th>
            </tr>
        </div>
    </tbody>
</table>
</div>
<script>


</script>

</body>
</html>